body {
    width: 400px;
    background-image: url(fondoForm.jpg);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    font-size: 22px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.89);
}

#titulo {
    font-family: 'verdana';
    font-size: 29px;
    font-weight: bold;
    margin-top: 1px;
    margin-bottom: 50px;
    margin-left: 50px;
    padding-left: 15px;
}

.controls {
    width: 90%;
    background: #5f6469;
    padding: 10px;
    padding-left: 15px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #f5f6f7;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.bottons {
    width: 100%;
    background: #24303c;
    border: none;
    padding: 12px;
    color: rgb(255, 255, 255);
    margin: 16px 0;
    font-size: 16px;
    border-radius: 15px;
}

#descripcion {
    margin-top: 15px;
    margin-bottom: 25px;
}

#descripcion {
    resize: none;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #e2dbdbd2;
}

.imgTitulo {
    position: absolute;
    top: 29px;
    left: 40px;
}

.t1 {
    position: absolute;
    right: 85%;
    top: 3px;
    font-size: 0.85em;
}