body {
    width: 400px;
    background-image: url(fondoRegistro.jpg);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.89);
    font-size: 18px;
}

#titulo {
    font-size: 38px;
    margin-bottom: 50px;
    margin-left: 100px;
    font-size: 22px;
}

.controls {
    width: 90%;
    background: #5f6469;
    padding: 10px;
    padding-left: 15px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #f5f6f7;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: white;
    font-size: 22px;
}

.boton {
    width: 100%;
    background: #24303c;
    border: none;
    padding: 12px;
    color: rgb(255, 255, 255);
    margin: 16px 0;
    font-size: 20px;
    border-radius: 15px;
    font-family: 'Ubuntu', sans-serif;
}

.boton:disabled {
    background-color: #82a0a2;
    border: 1px solid #82a0a2;
    color: lightgray;
}

.btnEnviar {
    background: rgba(0, 0, 102, 1);
    width: 60%;
    text-align: center;
    margin: 15px 2px;
    color: rgba(255, 255, 255, 1);
    position: relative;
    right: -45px;
    top: -30px;
    font-family: 'Ubuntu', sans-serif;
}

.alerta {
    background: #F25E1E;
    width: 80%;
    text-align: center;
    margin: 13px 0px;
    color: rgba(255, 255, 255, 1);
}

.mostrarPass {
    text-align: center;
    background: #7f8c8d;
    color: #fff;
    display: inline-block;
    font-size: 0.88em;
    margin: 20px;
    padding: 20 px 0px;
    width: 100px;
    text-decoration: none;
    box-shadow: 0px 3px 0px #373c3c;
    position: relative;
    right: -400px;
    top: -275px;
    font-family: 'Ubuntu', sans-serif;
}

.mostrarPass2 {
    text-align: center;
    background: #7f8c8d;
    color: #fff;
    display: inline-block;
    font-size: 0.88em;
    margin: 20px;
    padding: 20 px 0px;
    width: 100px;
    text-decoration: none;
    box-shadow: 0px 3px 0px #373c3c;
    position: relative;
    right: -260px;
    top: -163px;
    font-family: 'Ubuntu', sans-serif;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #e2dbdbd2;
    font-size: 16px;
}

.imgTitulo {
    position: absolute;
    top: 13px;
    left: 92px;
}

.t1 {
    position: absolute;
    right: 82%;
    top: 3px;
    font-size: 0.90em;
}

.forms label {
    font-size: 18px;
}