body {
    background-image: url('../imagenes/216088.jpg');
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.89);
    font-size: 18px;
}

#filaLogoID {
    padding-top: 2%;
}

#logoID {
    padding-left: 3%;
}

#howoID {
    font-family: 'Ubuntu', sans-serif;
    color: rgba(255, 255, 255, 0.89);
}

#tituloID {
    padding-top: 5%;
}

#filaIngreseID {
    padding-top: 5%;
}

label {
    padding-top: 0%;
}

#correo {
    background: #5f6469;
    border: 1px solid #f5f6f7;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: white;
    width: 30%;
}

#botonFilaID {
    padding-top: 5%
}

#enviar {
    width: 20%;
    background: #24303c;
    border: 1px solid #f5f6f7;
    color: rgb(255, 255, 255);
    font-size: 16px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #e2dbdbd2;
    font-size: 16px;
}