
body{
    background: #24303c;
    padding: 30px;
    border-radius: 4px;
    font-family: 'calibri';
}
.btn1{
    text-align:center;
    background: #7f8c8d;
    color:#fff;
    display: inline-block;
    font-size: 1.25em;
    margin: 20px;
    padding: 20 px 0px;
    width: 150px;
    text-decoration: none;
    box-shadow: 0px 3px 0px #373c3c;
    position:absolute;
    right: 2%;
    top: 0%;
}
.btn2{
    text-align:center;
    background: #7f8c8d;
    color:#fff;
    display: inline-block;
    font-size: 1.25em;
    margin: 20px;
    padding: 20 px 0px;
    width: 150px;
    text-decoration: none;
    box-shadow: 0px 3px 0px #373c3c;
    position:absolute;
    right: 12%;
    top: 0%;
}
.btn1 span{
    margin-right:10px;
}
.btn2 span{
    margin-right:10px;
}
.titulo{
    text-align: center;
    margin: 20px;
    margin-bottom: 1px;
  
}

.conse{
    background: #1f53c5;
    text-align:center;
    color:#fff;
    font-size: 1.25em;
    padding: 20 px 0px;
    width: 95%;
    text-decoration: none;
    box-shadow: 0px 3px 0px #373c3c;
    border: none;
    position: absolute;
    right: 3%;
    border-radius:15px ;
}

.ventana{
    background: rgba(0, 0, 102,1);
    width: 30%;
    color: rgba(255,255,255, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 33px;
    min-height: 250px;
    border-radius: 22px;
    position: absolute;
    left: 34%;
    top: 1500px;
    display: none;
}
#cerrar{
    position: absolute;
    right: 3px;
    top: 1px;
}
#cerrar span{
    margin-right:10px;
}
.contac{
    background: #1f53c5;
    text-align:center;
    color:#fff;
    display: inline-block;
    font-size: 1.25em;
    margin: 25px 0;
    padding: 20 px 0px;
    width: 95%;
    text-decoration: none;
    border-radius: 15px;
    box-shadow: 0px 3px 0px #373c3c;
    position:absolute;
    border: none;
}
.ventana2{
    background: rgba(0, 0, 102,1);
    width: 30%;
    color: rgba(255,255,255, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 33px;
    min-height: 250px;
    border-radius: 22px;
    position: absolute;
    left: 34%;
    top: 30%;
    display: none;
}


  
  